#sliderContainer {
  height: 100px;
  width: 200px;
  border: 1px solid cornflowerblue;
  background-color: blanchedalmond;
}

.modalContainer {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
}
.modal {
  position: fixed;
  visibility: hidden;
  padding: 15px;
  background-color: aliceblue;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: end;
  justify-content: space-around;
  align-content: space-around;
  border-radius: 1%;
  box-shadow: inset 0 0 0.1em black;
}
.modal__header {
  align-self: center;
}
.close {
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modalButton {
  background-color: royalblue;
  color: aliceblue;
  padding: 10px;
}
.modalInput {
  padding: 10px;
  width: 300px;
  border: 3px solid black;
  margin: 15px;
}

.modalRegisterSwitch {
  position: fixed;
  padding: 15px;
  background-color: aliceblue;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 245px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
div.modalRegister input {
  width: 50%;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.button {
  margin: 10px;
  padding: 10px;
  border: 1px solid royalblue;
}

#log {
  border: 1px solid royalblue;
}
#reg {
  border: 1px solid royalblue;
}

.active {
  background-color: royalblue;
  color: white;
  border: 2px solid gold;
  font-weight: bold;
}
label {
  display: block;
}
div.content2:last-of-type {
  display: none;
}
div#flex {
  display: flex;
  justify-content: space-around;
}

div.circle {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: royalblue;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
}
div.disabled {
  background-color: grey;
}

/* div.stepButton {
  width: 100px;
  background-color: royalblue;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: white;
  border: solid 2px gold;
} */
button.stepButton {
  width: 100px;
  background-color: royalblue;
  height: 40px;
  margin: auto;
  text-align: center;
  line-height: 40px;
  color: white;
  border: solid 2px gold;
}
div.contentNext {
  display: none;
}
div.disabled,
button.disabled {
  background-color: grey;
}
